
// Background-color
$bg-color: #f5f3f3;
$custom-button-primary: #4d83de;
$custom-button-danger:#de4d83;
$custom-button-success: #83de4d;

$custom-primary-shadow: #2e4e85;
$custom-danger-shadow: #9b355b;
$custom-success-shadow: #4e852e;

// color 
$month-color: #195480;
$today-color: 	#4abb5f;

